<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello Thermo</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>    
    <div class="container">
        <div class="boxes">
            <div class="box">
                <input type="text" name="temp" id="temp" placeholder="temperature">
                <input type="text" name="time" id="time" placeholder="time">
            </div>
        </div>
        <div class="chart-container"> 
            <div class="chart" id="plan_chart"></div>
            <div class="chart" id="current_chart"></div>
        </div>
     <div>
    <button id="more">More</button>
    <button id="send">Send</button>

    <script src="https://d3js.org/d3.v6.min.js"></script>
        <script>

        // add more steps

        document.querySelector("#more").addEventListener("click", (e) => {
            var div = document.createElement("div");
            div.setAttribute("class","box");
            var input1 = '<input type="text" name="temp" id="temp" placeholder="temperature"> ';
            var input2 = '<input type="text" name="time" id="time" placeholder="time">';
            div.innerHTML = input1+input2;
            document.querySelector(".boxes").appendChild(div); 
        });

        // charts

        var planData = [];
      
        document.querySelector("#send").addEventListener("click", (e) => {
            var values = []; //for mqtt
            var time = [0];
            var temp = [];
            document.querySelectorAll(".box").forEach(box => { 
               temp.push(box.children[0].value);
               time.push(box.children[1].value);
               values.push(box.children[0].value+"-"+box.children[1].value);
            }) 
            temp.push(0);

            var t = 0;
            var foo = 0;
            for (let i = 0; i<time.length; i++) {
                var tt = t+parseInt(time[i]);
                if (foo > 0){
                  planData.push({x: tt, y: foo});
                }
                planData.push({x: tt, y: temp[i]});
                t = t+parseInt(time[i]);
                foo = temp[i];
            }

            var margin = {top: 10, right: 30, bottom: 30, left: 60},
              width = document.getElementById("plan_chart").offsetWidth - margin.left - margin.right,
              height = document.getElementById("plan_chart").offsetHeight - margin.top - margin.bottom;

            var svg = d3.select("#plan_chart")
              .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform",
                      "translate(" + margin.left + "," + margin.top + ")");

            x = d3.scaleLinear()
                .domain([0, d3.max(planData, function(d) { return +d.x; })])
                .range([0, width])
                svg.append("g")
                  .attr("transform", "translate(0," + height + ")")
                  .call(d3.axisBottom(x));

                var y = d3.scaleLinear()
                  .domain([0, d3.max(planData, function(d) { return +d.y; })])
                  .range([ height, 0 ]);
                svg.append("g")
                  .call(d3.axisLeft(y));

                svg.append("path")
                  .datum(planData)
                  .attr("fill", "none")
                  .attr("stroke", "steelblue")
                  .attr("stroke-width", 1.5)
                  .attr("d", d3.line()
                    .x(function(d) { return x(d.x) })
                    .y(function(d) { return y(d.y) })
                    )

            fetch('/send', {
              method: 'POST', 
              headers: {
                  'Content-Type': 'application/json',
              },
                body: JSON.stringify({"values": values.reverse()}),
            })
            .then(response => response.json())
            .then(data => {
              console.log('Success:', data);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
        });

    </script> 
  </body>
</html>
